<% include partials/header %>
<main class="bottom_wrapper">
<% include partials/video_css %>
<div class="w_title">
<h1><%= video.title %></h1>
</div>

<div id="vtbl" class="">
<div id="vtbl_pl" style="padding-bottom: 32px;">
<div class="wt_des"><div><a href="/user/<%=author.username%>"><img src="/img/avatars/<%=author.avatarPath%>" width="55" height="55" class="avt2 " alt="<%=author.username%>"></a><div class="wt_person"><a href="/user/<%=author.avatar%>"><%=author.avatar%></a><br>Oct 27, 2018<br>(<a href="javascript:void(0)" id="show_more">more info</a>)		</div>		<div id="subsbtns">											<a href="javascript:void(0)" class="yel_btn" onclick="alert('You must be logged in to subscribe!')">Subscribe</a>										<a href="/user/EekItsBowser/subscribers" class="yel_btn">8</a>		</div>	</div>	<div class="cl"></div>	<div id="des_text"><%= video.description%></div><br>
<div id="des_info" class="hddn">		<div>			<div>Category: </div>			<div> <a href="/videos?c=7&amp;o=re&amp;t=2">Gaming</a></div>		</div>		<div class="cl"></div>				<div>			<div>Tags:</div>			<div style="width: 281px">								<a href="/results?q=Paper+Mario">Paper Mario</a>								<a href="/results?q=Traps">Traps</a>								<a href="/results?q=Video+Games">Video Games</a>								<a href="/results?q=Nintendo+64">Nintendo 64</a>								<a href="/results?q=Bowser+Koopa">Bowser Koopa</a>								<a href="/results?q=Animation">Animation</a>								<a href="/results?q=+Trapping+Mario"> Trapping Mario</a>								<a href="/results?q=+These+aren%27t+very+sophisticated+traps"> These aren't very sophisticated traps</a>								<a href="/results?q=Rex">Rex</a>								<a href="/results?q=Mario+World">Mario World</a>							</div>		</div>			</div>	<div>		<table>			<tbody><tr>				<td align="right"><label for="em">Embed</label></td>				<td><input type="text" id="em" onclick="$(this).select()" readonly="" value="<iframe allowfullscreen src=&quot;https://www.vidlii.com/embed?v=su0f9SRcjnv&amp;a=1&quot; frameborder=&quot;0&quot; width=&quot;640&quot; height=&quot;360&quot;></iframe>"></td>			</tr>		</tbody></table>	</div></div>
                    
                    <div class="u_sct" style="margin:0 0 10px">
            <img src="https://i.r.worldssl.net/img/clp00.png">
            <span class="u_sct_hd" style="font-size: 17px;position:relative;top:1px;left:5px">More From: EekItsBowser</span>
        </div>
        <div class="w_videos" style="display:none">
            <div>
                                        <div>
                        <div class="th">
                            <div class="th_t">18:10</div>
                            <a href="/watch?v=KhuJ4z0OZdD"><img class="vid_th" src="/usfi/thmp/KhuJ4z0OZdD.jpg" alt="Modding Items in Paper Mario with Star Rod" title="Modding Items in Paper Mario with Star Rod" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=KhuJ4z0OZdD" class="ln2">Modding Items in Paper Mario with Star Rod</a>
                            <span class="vw s">40 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14">							</div>
                    </div>
                                </div>
        </div>
                                <div class="u_sct">
            <img src="https://i.r.worldssl.net/img/clp11.png">
            <span class="u_sct_hd" style="font-size: 17px;position:relative;top:1px;left:5px">Related Videos</span>
        </div>
        <div class="w_videos" style="display:block">
            <div>
                                    <div>
                    <div class="th">
                        <div class="th_t">18:10</div>
                        <a href="/watch?v=KhuJ4z0OZdD"><img class="vid_th" src="/usfi/thmp/KhuJ4z0OZdD.jpg" alt="Modding Items in Paper Mario with Star Rod" title="Modding Items in Paper Mario with Star Rod" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=KhuJ4z0OZdD" class="ln2">Modding Items in Paper Mario with Star Rod</a>
                        <span class="vw s">40 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">3:26</div>
                        <a href="/watch?v=WHGhUEBudy4"><img class="vid_th" src="/usfi/thmp/WHGhUEBudy4.jpg" alt="NextBang Round 1 - Duelo de piadas acaba em explosão do bob-omb nuclear" title="NextBang Round 1 - Duelo de piadas acaba em explosão do bob-omb nuclear" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=WHGhUEBudy4" class="ln2">NextBang Round 1 - Duelo de piadas acaba em explosão do bob-omb nuclear</a>
                        <span class="vw s">18 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">8:58</div>
                        <a href="/watch?v=qkeQopmjXP6"><img class="vid_th" src="/usfi/thmp/qkeQopmjXP6.jpg" alt="Befunge! (Part 2)" title="Befunge! (Part 2)" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=qkeQopmjXP6" class="ln2">Befunge! (Part 2)</a>
                        <span class="vw s">93 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">3:45</div>
                        <a href="/watch?v=CAqzXJ01TuP"><img class="vid_th" src="/usfi/thmp/CAqzXJ01TuP.jpg" alt="Fluttershy leik dat bass" title="Fluttershy leik dat bass" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=CAqzXJ01TuP" class="ln2">Fluttershy leik dat bass</a>
                        <span class="vw s">131 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/half_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">9:46</div>
                        <a href="/watch?v=8nTzpFVE2AL"><img class="vid_th" src="/usfi/thmp/8nTzpFVE2AL.jpg" alt="Befunge! (Part 1)" title="Befunge! (Part 1)" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=8nTzpFVE2AL" class="ln2">Befunge! (Part 1)</a>
                        <span class="vw s">123 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">11:18</div>
                        <a href="/watch?v=Ws-hgahJ1DJ"><img class="vid_th" src="/usfi/thmp/Ws-hgahJ1DJ.jpg" alt="My Top 10 Most Wanted Super Smash Bros Characters" title="My Top 10 Most Wanted Super Smash Bros Characters" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=Ws-hgahJ1DJ" class="ln2">My Top 10 Most Wanted Super Smash Bros Characters</a>
                        <span class="vw s">82 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/half_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">5:01</div>
                        <a href="/watch?v=PIlnEb3Wzw_"><img class="vid_th" src="/usfi/thmp/PIlnEb3Wzw_.jpg" alt="Arkham Knight Rider rants: TheMovieDocterful" title="Arkham Knight Rider rants: TheMovieDocterful" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=PIlnEb3Wzw_" class="ln2">Arkham Knight Rider rants: TheMovieDocterful</a>
                        <span class="vw s">56 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">7:28</div>
                        <a href="/watch?v=AZIOYzqIWz4"><img class="vid_th" src="/usfi/thmp/AZIOYzqIWz4.jpg" alt="[ VRChat ] Loli Army" title="[ VRChat ] Loli Army" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=AZIOYzqIWz4" class="ln2">[ VRChat ] Loli Army</a>
                        <span class="vw s">129 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/half_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">3:06</div>
                        <a href="/watch?v=UUD9vCow18m"><img class="vid_th" src="/usfi/thmp/UUD9vCow18m.jpg" alt="Gman Squad's 10 Year Anniversary ( A Fan's Dedication Vid) (Reupload)" title="Gman Squad's 10 Year Anniversary ( A Fan's Dedication Vid) (Reupload)" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=UUD9vCow18m" class="ln2">Gman Squad's 10 Year Anniversary ( A Fan's Dedication Vid) (Reupload)</a>
                        <span class="vw s">36 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">2:45</div>
                        <a href="/watch?v=2R4wxLa5BFo"><img class="vid_th" src="/usfi/thmp/2R4wxLa5BFo.jpg" alt="Mario 64 Blast to the Stone Pillar WAYS HOW TO DO IT" title="Mario 64 Blast to the Stone Pillar WAYS HOW TO DO IT" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=2R4wxLa5BFo" class="ln2">Mario 64 Blast to the Stone Pillar WAYS HOW TO DO IT</a>
                        <span class="vw s">14 views</span><br>
                        <img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">4:51</div>
                        <a href="/watch?v=46oHCHX-BUT"><img class="vid_th" src="/usfi/thmp/46oHCHX-BUT.jpg" alt="Top 5 schlechte Mario Kart Items" title="Top 5 schlechte Mario Kart Items" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=46oHCHX-BUT" class="ln2">Top 5 schlechte Mario Kart Items</a>
                        <span class="vw s">24 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">6:09</div>
                        <a href="/watch?v=edU4DNVrixm"><img class="vid_th" src="/usfi/thmp/edU4DNVrixm.jpg" alt="And this is why I wont be doing any lets plays anymore" title="And this is why I wont be doing any lets plays anymore" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=edU4DNVrixm" class="ln2">And this is why I wont be doing any lets plays anymore</a>
                        <span class="vw s">134 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/half_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14">						</div>
                </div>
                                    <div>
                    <div class="th">
                        <div class="th_t">9:22</div>
                        <a href="/watch?v=OHnv3sSVgJp"><img class="vid_th" src="/usfi/thmp/OHnv3sSVgJp.jpg" alt="Why Verond Is Not Trustworthy" title="Why Verond Is Not Trustworthy" width="121" height="78"></a>
                    </div>
                    <div>
                        <a href="/watch?v=OHnv3sSVgJp" class="ln2">Why Verond Is Not Trustworthy</a>
                        <span class="vw s">169 views</span><br>
                        <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14">						</div>
                </div>
                                </div>
        </div>
                                <div style="width:320px;margin:7px auto">
            <ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-8433080377364721" data-ad-slot="7817138096"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
                </div>
    <div id="vtbl_actions">
                    <div class="w_actions">
            <div id="rateYo" class="jq-ry-container" readonly="readonly" style="width: 95px;"><div class="jq-ry-group-wrapper"><div class="jq-ry-normal-group jq-ry-group"><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px" fill="#c7c7c7"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px" fill="#c7c7c7" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px" fill="#c7c7c7" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px" fill="#c7c7c7" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px" fill="#c7c7c7" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg></div><div class="jq-ry-rated-group jq-ry-group" style="width: 0%;"><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px" fill="#E74C3C"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px" fill="#E74C3C" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px" fill="#E74C3C" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px" fill="#E74C3C" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px" fill="#E74C3C" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg></div></div></div>
            <div id="ratings">0 ratings</div>
            <div class="w_views"><strong>2</strong> views</div>
            <script>
                                    $(function () {
                    $("#rateYo").rateYo({
                        ratedFill: "#E74C3C",
                        normalFill: "#c7c7c7",
                        fullStar: true,
                        starWidth: "19px",
                                                    rating: 0,
                                                    readOnly: true
                                                });

                    
                                            $("#rateYo").click(function() {
                        alert("You must be logged in to rate videos!");
                    });
                                        });
                                </script>
            <div class="w_lnks">
                <a href="javascript:void(0)" onmouseenter="wn('w_sh')" onmouseleave="wl('w_sh')" onclick="wc('w_sh')"><img src="https://i.r.worldssl.net/img/shhd1.png" id="w_sh"><span style="top:2px">Share</span></a><a href="javascript:void(0)" onmouseenter="wn('w_fv')" onmouseleave="wl('w_fv')" onclick="wc('w_fv')"><img src="https://i.r.worldssl.net/img/hehd0.png" id="w_fv"><span>Favorite</span></a><a href="javascript:void(0)" onmouseenter="wn('w_pl')" onmouseleave="wl('w_pl')" onclick="wc('w_pl')"><img src="https://i.r.worldssl.net/img/plhd0.png" id="w_pl"><span>Playlists</span></a><a href="javascript:void(0)" onmouseenter="wn('w_fl')" onmouseleave="wl('w_fl')" onclick="wc('w_fl')"><img src="https://i.r.worldssl.net/img/flhd0.png" id="w_fl"><span>Flag</span></a>
            </div>
            <div id="w_l_cnts">
                <img src="https://i.r.worldssl.net/img/wse.png" id="w_sel" style="left:84px">
                <div id="w_sh_cnt">
                    <span><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.vidlii.com/watch?v=su0f9SRcjnv" target="_blank" onclick="playerInstance.pause(true)">Facebook</a></span><span><a href="https://twitter.com/home?status=I%20just%20watched%20this%20awesome%20video%3A%20https%3A//www.vidlii.com/watch?v=su0f9SRcjnv" target="_blank" onclick="playerInstance.pause(true)">Twitter</a></span><span><a href="https://www.reddit.com/submit?url=https://www.vidlii.com/watch?v=su0f9SRcjnv&amp;title=Trapping+Mario+in+Paper+Mario+Using+Rom+Hacks" target="_blank" onclick="playerInstance.pause(true)">Reddit</a></span><span><a href="https://plus.google.com/share?url=https%3A//www.vidlii.com/watch?v=su0f9SRcjnv" target="_blank" onclick="playerInstance.pause(true)">Google+</a></span>
                </div>
                <div id="w_fv_cnt" class="hddn">
                                            <div class="you_wnt">
                        <div>
                            <strong>Want to add this video to your favorites?</strong><br>
                            <strong><a href="/login">Sign in to VidLii now!</a></strong>
                        </div>
                    </div>
                                        </div>
                <div id="w_pl_cnt" class="hddn">
                                            <div class="you_wnt">
                        <div>
                            <strong>Want to add this video to your playlists?</strong><br>
                            <strong><a href="/login">Sign in to VidLii now!</a></strong>
                        </div>
                    </div>
                                        </div>
                <div id="w_fl_cnt" class="hddn">
                                            <div class="you_wnt">
                        <div>
                            <strong>Want to add flag this video?</strong><br>
                            <strong><a href="/login">Sign in to VidLii now!</a></strong>
                        </div>
                    </div>
                                            <script async="">setTimeout(function(){$.ajax({type:"POST",url:"/ajax/aw",data:{u:'su0f9SRcjnv',a:'https://www.vidlii.com/'}})},1750);</script>
                </div>
            </div>
        </div>
                    <div style="width:468px;margin:8px auto">
        <ins class="adsbygoogle" style="display:inline-block;width:468px;height:60px" data-ad-client="ca-pub-8433080377364721" data-ad-slot="9293871292"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        </div>
                    <div class="w_btm">
            <div style="display:table;width:100%">
                <div class="w_big_btn big_sel" id="w_com">
                    <a href="javascript:void(0)">Commentary</a>
                </div>
                <div class="w_big_btn" id="w_stats">
                    <a href="javascript:void(0)">Statistics</a>
                </div>
            </div>
            <div class="cl"></div>
            <div id="w_com_sct">
                <div class="u_sct">
                                                <img src="https://i.r.worldssl.net/img/clp00.png">
                        <span class="u_sct_hd">Video Responses <span>(<span>0</span>)</span></span>
                                                                    <a href="/login" onclick="event.stopPropagation()">Sign in to make a video response</a>					                        </div>
                <div style="display:none;margin-bottom:20px">
                                                <div style="text-align:center;margin-top:22px">This video doesn't have any video responses!</div>
                                        </div>
                <div class="u_sct">
                    <img src="https://i.r.worldssl.net/img/clp11.png">
                    <span class="u_sct_hd">Text Comments <span>(<span id="cmt_num">0</span>)</span></span>
                    <a href="/login" onclick="event.stopPropagation()">Sign in to post a comment</a>					</div>
                <div style="display:block; word-wrap: break-word">
                                            <div id="video_comments_section">
                                                    <div id="no_video_comments">This video has no comments yet!</div>
                                                </div>
                                                                        <div style="text-align:center;margin: 13px 0 5px">
                            <a href="/register">Sign up</a> for a free account, or <a href="/login">sign in</a> to post a comment.
                        </div>
                                        </div>
            </div>
            <div id="w_stats_sct" class="hddn">
                <table style="width:88%;margin:0 0 0 61px" cellpadding="5">
                    <tbody><tr>
                        <td>Date: <strong><date>Oct 27, 2018</date></strong></td>
                        <td>Views: <strong>2</strong></td>
                        <td>Ratings: <strong>0</strong></td>
                    </tr>
                    <tr>
                        <td>Time: <strong><time>09:13 PM</time></strong></td>
                        <td>Comments: <strong>0</strong></td>
                        <td>Favorites: <strong>0</strong></td>
                    </tr>
                </tbody></table>
            </div>
        </div>
                    <div style="width:468px;margin:8px auto">
        <ins class="adsbygoogle" style="display:inline-block;width:468px;height:60px" data-ad-client="ca-pub-8433080377364721" data-ad-slot="9293871292"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        </div>
                </div>
</div>
</main>
<div class="cl"></div>
<% include partials/footer %>