<% include partials/header %>
<% include partials/video_css %>
<div class="w_title">
    <h1>
        <%=video.title%>
    </h1>
</div>

<div id="vtbl" class="">
    <p hidden id='videoid'><%=video.videoID%></p>
    <div id="vtbl_pl" style="padding-bottom: 32px;">
        <%if(video.processing === true) {%>
        <h1 class="processing">The video is being proccessed!</h1>
        <%} else {%>
        <video controls>
            <source src="/videos/<%=video.videoPath%>" type="video/mp4">
        </video>
        <%}%>
    </div>

    <!-- INFO -->
    <div id="vtbl_desc">
        <div class="wt_des" style="border-top-left-radius: 0;border-top-right-radius: 0">
            <div> <a href="/user/<%=author.username%>"><img src="/img/avatars/<%=author.avatarPath%>" width="55" height="55"
                        class="avt2 " alt="<%=author.username%>"></a>
                <div class="wt_person"> <a href="/user/<%=author.username%>">
                <p hidden id="username_4_sub"><%=author.username%></p>
                        <%=author.username%></a><br>
                    <%=video.postTime%><br></div>
                <!-- SUB -->
                <div id="subsbtns"><a id="vid_sub_btn" class="yel_btn">Subscribe</a>
                    <a href="/user/<%=author.username%>/subscribers" class="yel_btn"><%=author.subscribers.length%></a> </div>
            </div>
            <div class="cl"></div>
            <div id="des_text">
                <%=video.description%>
            </div>
            <div id="des_info">
                <div class="cl"></div>
            </div>
        </div>
    </div>
</div>
<div id="vtbl_actions">
    <div class="w_actions">
        <!-- TO DO -->
        <div id="rateYo"></div>
        <div id="ratings"><%=video.ratings.length%> ratings</div>
        <div class="w_views"><strong><%= video.views %></strong> views</div>
        <div class="w_lnks"><img src="https://i.r.worldssl.net/img/hehd0.png" id="w_fv"><span>Favorite</span><img src="https://i.r.worldssl.net/img/flhd0.png"
                id="w_fl"><span>Flag</span>
        </div>
    </div>
    <div class="w_btm">
        <div style="display:table;width:100%">
            <div class="w_big_btn big_sel" id="w_com">
                <a href="javascript:void(0)">Commentary</a>
            </div>
            <div class="w_big_btn" id="w_stats">
                <a href="javascript:void(0)">Statistics</a>
            </div>
        </div>
        <div class="cl"></div>
        <div id="w_com_sct">
            <div style="display:block; word-wrap: break-word">
                <div id="video_comments_section">
                    <div style="display:block; word-wrap: break-word">
                    <div id="video_comments_section">
                        <% if(comments.length==0) { %>
                            <div id="no_video_comments">This video has no comments yet!</div>
                        <% } %>      
                        <% if(session.username) { %>
                            <div style="margin: 13px 0 5px">
                                    <div style="font-weight:bold;font-size:16px;margin:0 0 4px">Post a Comment:</div>
                                    <textarea id="comment_textarea" style="height:80px" rows="5" maxlength="1000" placeholder="Your Comment..."></textarea>
                                    <div>
                                        <button type="button" class="search_button" id="comment_submit">Post
                                            Comment</button><span class="tiny_text"> <span id="counter">0</span> / 1000</span>
                                    </div>
                            </div>
                        <% } else { %>
                            <div id="no_video_comments">Please login to post a comment!</div>
                        <% } %>
                    </div>
                    <!-- COMMENTS -->
                    <% comments.forEach(function(comment){ %>
                    <div class="wt_c_sct" id="wt_147617">
                        <div>
                            <a href="/user/<%=comment.author.username%>">
                                <%=comment.author.username%></a> <span>(
                                <%= comment.timestamp %>)</span>
                            <div>
                            </div>
                        </div>
                        <div>
                            <a href="/user/<%=comment.author.username%>"><img src="/img/avatars/<%=comment.author.avatarPath%>"
                                    width="41" height="41" class="avt2 wp_avt" alt="<%=comment.author.username%>"></a>
                            <div>
                                <span>0</span>
                                <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                    src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                            </div>
                            <div>
                                <%= comment.content %>
                            </div>
                        </div>
                    </div>
                    <% }); %>

                    <div id="w_stats_sct" class="hddn">
                        <table style="width:88%;margin:0 0 0 61px" cellpadding="5">
                            <tbody>
                                <tr>
                                    <td>Date: <strong>
                                            <date>Sep 24, 2018</date>
                                        </strong></td>
                                    <td>Views: <strong><%= video.views %></strong></td>
                                    <td>Ratings: <strong>85</strong></td>
                                </tr>
                                <tr>
                                    <td>Time: <strong><time>01:29 AM</time></strong></td>
                                    <td>Comments: <strong>39</strong></td>
                                    <td>Favorites: <strong>19</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer %>