<% include partials/header %>
<main class="bottom_wrapper">
<% include partials/video_css %>
    <div class="w_title">
        <h1>
            <%=video.title%>
        </h1>
    </div>

    <div id="vtbl" class="">
        <div id="vtbl_pl" style="padding-bottom: 32px;">
        <%if(video.processing === true) {%>
            <h1 class="processing">The video is being proccessed!</h1>
        <%} else {%>
        <video controls>
            <source src="/videos/<%=video.videoPath%>" type="video/mp4">
        </video>
        <%}%>
        </div>
        
        <!-- INFO -->
        <div id="vtbl_desc">
            <div class="wt_des" style="border-top-left-radius: 0;border-top-right-radius: 0">
                <div> <a href="/user/<%=author.username%>"><img src="/img/avatars/<%=author.avatarPath%>" width="55" height="55" class="avt2 "
                            alt="<%=author.username%>"></a>
                    <div class="wt_person"> <a href="/user/<%=author.username%>"><%=author.username%></a><br><%=video.postTime%><br></div>
                    <!-- SUB -->
                    <div id="subsbtns"> <a href="javascript:void(0)" class="yel_btn" onclick="alert('You must be logged in to subscribe!')">Subscribe</a>
                        <a href="/user/KnotSnappy/subscribers" class="yel_btn">585</a> </div>
                </div>
                <div class="cl"></div>
                <div id="des_text"><%=video.description%></div>
                <div id="des_info">
                    <div class="cl"></div>
                    <div>
                        <div>Tags:</div>
                        <div style="width: 281px"><a href="/results?q=History">History</a> <a href="/results?q=+Class">
                                Class</a> <a href="/results?q=+Project"> Project</a> <a href="/results?q=+VidLii">
                                VidLii</a> <a href="/results?q=+VidBit"> VidBit</a> <a href="/results?q=+ClipBits">
                                ClipBits</a> <a href="/results?q=+Vidii"> Vidii</a> <a href="/results?q=+KnotSnappy">
                                KnotSnappy</a> <a href="/results?q=+Fast"> Fast</a> <a href="/results?q=+Pace"> Pace</a>
                            <a href="/results?q=+Sped"> Sped</a> <a href="/results?q=+Up"> Up</a> <a href="/results?q=+Computer">
                                Computer</a> <a href="/results?q=+Science"> Science</a> <a href="/results?q=+3"> 3</a>
                            <a href="/results?q=+Three"> Three</a> <a href="/results?q=+Minutes"> Minutes</a> <a href="/results?q=+Quick">
                                Quick</a> <a href="/results?q=+Explanation"> Explanation</a> <a href="/results?q=+of">
                                of</a> <a href="/results?q=+in"> in</a> <a href="/results?q=+Knew"> Knew</a> <a href="/results?q=+Nothing">
                                Nothing</a> <a href="/results?q=+About"> About</a> <a href="/results?q=+It"> It</a> <a
                                href="/results?q=+If"> If</a> <a href="/results?q=+%28If"> (If</a> <a href="/results?q=+It%29">
                                It)</a> <a href="/results?q=+video"> video</a> <a href="/results?q=+edited"> edited</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w_videos" style="display:none">
                <div>
                    <div>
                        <div class="th">
                            <div class="th_t">0:11</div>
                            <a href="/watch?v=Z1_1qMLB4JZ"><img class="vid_th" src="/usfi/thmp/Z1_1qMLB4JZ.jpg" alt="DUBIOUS_STANDING.mov"
                                    title="DUBIOUS_STANDING.mov" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=Z1_1qMLB4JZ" class="ln2">DUBIOUS_STANDING.mov</a>
                            <span class="vw s">122 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">1:09</div>
                            <a href="/watch?v=Xf_EHRgexIl"><img class="vid_th" src="/usfi/thmp/Xf_EHRgexIl.jpg" alt="High Shutter Speed Video of a Fan"
                                    title="High Shutter Speed Video of a Fan" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=Xf_EHRgexIl" class="ln2">High Shutter Speed Video of a Fan</a>
                            <span class="vw s">104 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">1:34</div>
                            <a href="/watch?v=8LYd9ySqpFD"><img class="vid_th" src="/usfi/thmp/8LYd9ySqpFD.jpg" alt="Baddles Update"
                                    title="Baddles Update" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=8LYd9ySqpFD" class="ln2">Baddles Update</a>
                            <span class="vw s">128 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">1:58</div>
                            <a href="/watch?v=F_-esF55II9"><img class="vid_th" src="/usfi/thmp/F_-esF55II9.jpg" alt="JS Game - Baddles"
                                    title="JS Game - Baddles" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=F_-esF55II9" class="ln2">JS Game - Baddles</a>
                            <span class="vw s">56 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">4:39</div>
                            <a href="/watch?v=LeQY_iUQMAq"><img class="vid_th" src="/usfi/thmp/LeQY_iUQMAq.jpg" alt="Leaving VidLii for Now"
                                    title="Leaving VidLii for Now" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=LeQY_iUQMAq" class="ln2">Leaving VidLii for Now</a>
                            <span class="vw s">376 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">0:15</div>
                            <a href="/watch?v=3nnRzxSb_gE"><img class="vid_th" src="/usfi/thmp/3nnRzxSb_gE.jpg" alt="Mike Mikes' Mics"
                                    title="Mike Mikes' Mics" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=3nnRzxSb_gE" class="ln2">Mike Mikes' Mics</a>
                            <span class="vw s">62 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">0:06</div>
                            <a href="/watch?v=JirhfWTrW2H"><img class="vid_th" src="/usfi/thmp/JirhfWTrW2H.jpg" alt="Robert Tries LSD"
                                    title="Robert Tries LSD" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=JirhfWTrW2H" class="ln2">Robert Tries LSD</a>
                            <span class="vw s">81 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">1:29</div>
                            <a href="/watch?v=wekU1XpjNdx"><img class="vid_th" src="/usfi/thmp/wekU1XpjNdx.jpg" alt="VidBit Halloween Special (2016 Re-Upload)"
                                    title="VidBit Halloween Special (2016 Re-Upload)" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=wekU1XpjNdx" class="ln2">VidBit Halloween Special (2016 Re-Upload)</a>
                            <span class="vw s">55 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">20:00</div>
                            <a href="/watch?v=ddiA9ZrVz7R"><img class="vid_th" src="/usfi/thmp/ddiA9ZrVz7R.jpg" alt="1 Year On VidLii! (Real Anniversary Video)"
                                    title="1 Year On VidLii! (Real Anniversary Video)" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=ddiA9ZrVz7R" class="ln2">1 Year On VidLii! (Real Anniversary Video)</a>
                            <span class="vw s">263 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">0:09</div>
                            <a href="/watch?v=3AK6J4OH000"><img class="vid_th" src="/usfi/thmp/3AK6J4OH000.jpg" alt="1 Year Since the Reboot!"
                                    title="1 Year Since the Reboot!" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=3AK6J4OH000" class="ln2">1 Year Since the Reboot!</a>
                            <span class="vw s">109 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">0:22</div>
                            <a href="/watch?v=Ar-bfFcRZXc"><img class="vid_th" src="/usfi/thmp/Ar-bfFcRZXc.jpg" alt="PaleSlavicMan Adventures Through Space!"
                                    title="PaleSlavicMan Adventures Through Space!" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=Ar-bfFcRZXc" class="ln2">PaleSlavicMan Adventures Through Space!</a>
                            <span class="vw s">52 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">0:09</div>
                            <a href="/watch?v=YQshNkwEej0"><img class="vid_th" src="/usfi/thmp/YQshNkwEej0.jpg" alt="Possible Outro"
                                    title="Possible Outro" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=YQshNkwEej0" class="ln2">Possible Outro</a>
                            <span class="vw s">119 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">0:46</div>
                            <a href="/watch?v=PrawhrbnrmU"><img class="vid_th" src="/usfi/thmp/PrawhrbnrmU.jpg" alt="Saucestix"
                                    title="Saucestix" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=PrawhrbnrmU" class="ln2">Saucestix</a>
                            <span class="vw s">92 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">3:13</div>
                            <a href="/watch?v=FSF5Zv-J4pA"><img class="vid_th" src="/usfi/thmp/FSF5Zv-J4pA.jpg" alt="New "
                                    penguin"="" player="" review"="" title="New " width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=FSF5Zv-J4pA" class="ln2">New "Penguin" Player Review</a>
                            <span class="vw s">422 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">4:47</div>
                            <a href="/watch?v=uCzIPjDMAnx"><img class="vid_th" src="/usfi/thmp/uCzIPjDMAnx.jpg" alt="Camp Sumter (Andersonville Prison) - American Civil War"
                                    title="Camp Sumter (Andersonville Prison) - American Civil War" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=uCzIPjDMAnx" class="ln2">Camp Sumter (Andersonville Prison) - American
                                Civil War</a>
                            <span class="vw s">48 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">13:33</div>
                            <a href="/watch?v=RubwY-2FY9i"><img class="vid_th" src="/usfi/thmp/RubwY-2FY9i.jpg" alt="(2016) Better Youtube Alternative - VidBit"
                                    title="(2016) Better Youtube Alternative - VidBit" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=RubwY-2FY9i" class="ln2">(2016) Better Youtube Alternative - VidBit</a>
                            <span class="vw s">230 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">3:48</div>
                            <a href="/watch?v=FDaNG_c66yN"><img class="vid_th" src="/usfi/thmp/FDaNG_c66yN.jpg" alt="How to Download VidLii Videos (Updated for New System)"
                                    title="How to Download VidLii Videos (Updated for New System)" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=FDaNG_c66yN" class="ln2">How to Download VidLii Videos (Updated for New
                                System)</a>
                            <span class="vw s">259 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">2:04</div>
                            <a href="/watch?v=LLPfai-P2jt"><img class="vid_th" src="/usfi/thmp/LLPfai-P2jt.jpg" alt="Heckin' Racists!!"
                                    title="Heckin' Racists!!" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=LLPfai-P2jt" class="ln2">Heckin' Racists!!</a>
                            <span class="vw s">130 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">8:57</div>
                            <a href="/watch?v=eCBZKd4uWUG"><img class="vid_th" src="/usfi/thmp/eCBZKd4uWUG.jpg" alt="Thoughts on Ali and Moderation"
                                    title="Thoughts on Ali and Moderation" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=eCBZKd4uWUG" class="ln2">Thoughts on Ali and Moderation</a>
                            <span class="vw s">251 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">1:23</div>
                            <a href="/watch?v=Bm8SvTnWSFm"><img class="vid_th" src="/usfi/thmp/Bm8SvTnWSFm.jpg" alt="HECK!"
                                    title="HECK!" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=Bm8SvTnWSFm" class="ln2">HECK!</a>
                            <span class="vw s">112 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                </div>
            </div>
            <div class="u_sct">
                <img src="https://i.r.worldssl.net/img/clp11.png">
                <span class="u_sct_hd" style="font-size: 17px;position:relative;top:1px;left:5px">Related Videos</span>
            </div>
            <div class="w_videos" style="display:block">
                <div>
                    <div>
                        <div class="th">
                            <div class="th_t">6:52</div>
                            <a href="/watch?v=3vqfYgeSBA3"><img class="vid_th" src="/usfi/thmp/3vqfYgeSBA3.jpg" alt="The VidLii Poop Joke Song"
                                    title="The VidLii Poop Joke Song" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=3vqfYgeSBA3" class="ln2">The VidLii Poop Joke Song</a>
                            <span class="vw s">20 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">17:21</div>
                            <a href="/watch?v=0CxGsGkKCPc"><img class="vid_th" src="/usfi/thmp/0CxGsGkKCPc.jpg" alt="Quick Little 720p Test (Minor cringe warning)"
                                    title="Quick Little 720p Test (Minor cringe warning)" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=0CxGsGkKCPc" class="ln2">Quick Little 720p Test (Minor cringe warning)</a>
                            <span class="vw s">27 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/half_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">4:10</div>
                            <a href="/watch?v=Ty4RCCgyFRA"><img class="vid_th" src="/usfi/thmp/Ty4RCCgyFRA.jpg" alt="Spiderfan On: The Current Vidlii Drama (REUPLOAD)"
                                    title="Spiderfan On: The Current Vidlii Drama (REUPLOAD)" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=Ty4RCCgyFRA" class="ln2">Spiderfan On: The Current Vidlii Drama
                                (REUPLOAD)</a>
                            <span class="vw s">379 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/half_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">1:32</div>
                            <a href="/watch?v=2Lktvg1ZsWy"><img class="vid_th" src="/usfi/thmp/2Lktvg1ZsWy.jpg" alt="The Vidlii Smurf Collab"
                                    title="The Vidlii Smurf Collab" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=2Lktvg1ZsWy" class="ln2">The Vidlii Smurf Collab</a>
                            <span class="vw s">316 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">3:39</div>
                            <a href="/watch?v=Rf6Vrw30Xdh"><img class="vid_th" src="/usfi/thmp/Rf6Vrw30Xdh.jpg" alt="mugman dies multiple times"
                                    title="mugman dies multiple times" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=Rf6Vrw30Xdh" class="ln2">mugman dies multiple times</a>
                            <span class="vw s">107 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">0:20</div>
                            <a href="/watch?v=vorP2EKk0n0"><img class="vid_th" src="/usfi/thmp/vorP2EKk0n0.jpg" alt="Loading VidLii.com on a Taco Bell Gift Card"
                                    title="Loading VidLii.com on a Taco Bell Gift Card" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=vorP2EKk0n0" class="ln2">Loading VidLii.com on a Taco Bell Gift Card</a>
                            <span class="vw s">266 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">13:49</div>
                            <a href="/watch?v=rRgSk42x3rX"><img class="vid_th" src="/usfi/thmp/rRgSk42x3rX.jpg" alt="The History Of VidLii."
                                    title="The History Of VidLii." width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=rRgSk42x3rX" class="ln2">The History Of VidLii.</a>
                            <span class="vw s">926 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">1:38</div>
                            <a href="/watch?v=oRxnn5FlzSl"><img class="vid_th" src="/usfi/thmp/oRxnn5FlzSl.jpg" alt="Longhorn Concept 'UI History'"
                                    title="Longhorn Concept 'UI History'" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=oRxnn5FlzSl" class="ln2">Longhorn Concept 'UI History'</a>
                            <span class="vw s">49 views</span><br>
                            <img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">0:50</div>
                            <a href="/watch?v=2AT26UqRyeS"><img class="vid_th" src="/usfi/thmp/2AT26UqRyeS.jpg" alt="A little something I've been working on"
                                    title="A little something I've been working on" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=2AT26UqRyeS" class="ln2">A little something I've been working on</a>
                            <span class="vw s">11 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">2:20</div>
                            <a href="/watch?v=TvWB2jw1B4c"><img class="vid_th" src="/usfi/thmp/TvWB2jw1B4c.jpg" alt="(RE-REUPLOAD) 2 Minutes of Klasky opusC avi History UPDATED! on 03 01 2015"
                                    title="(RE-REUPLOAD) 2 Minutes of Klasky opusC avi History UPDATED! on 03 01 2015"
                                    width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=TvWB2jw1B4c" class="ln2">(RE-REUPLOAD) 2 Minutes of Klasky opusC avi
                                History UPDATED! on 03 01 2015</a>
                            <span class="vw s">12 views</span><br>
                            <img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/no_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">1:06</div>
                            <a href="/watch?v=1muBeuRE1TA"><img class="vid_th" src="/usfi/thmp/1muBeuRE1TA.jpg" alt="Merry Christmas To Everyone on VidLii!"
                                    title="Merry Christmas To Everyone on VidLii!" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=1muBeuRE1TA" class="ln2">Merry Christmas To Everyone on VidLii!</a>
                            <span class="vw s">42 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">7:17</div>
                            <a href="/watch?v=xGyxVKioUHL"><img class="vid_th" src="/usfi/thmp/xGyxVKioUHL.jpg" alt="sks2002 - Smashing a DJ Deck"
                                    title="sks2002 - Smashing a DJ Deck" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=xGyxVKioUHL" class="ln2">sks2002 - Smashing a DJ Deck</a>
                            <span class="vw s">58 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                    <div>
                        <div class="th">
                            <div class="th_t">1:48</div>
                            <a href="/watch?v=W4naR4O9vu0"><img class="vid_th" src="/usfi/thmp/W4naR4O9vu0.jpg" alt="First Video Over 11 Minutes on VidLii"
                                    title="First Video Over 11 Minutes on VidLii" width="121" height="78"></a>
                        </div>
                        <div>
                            <a href="/watch?v=W4naR4O9vu0" class="ln2">First Video Over 11 Minutes on VidLii</a>
                            <span class="vw s">136 views</span><br>
                            <img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png"
                                width="14" height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14"
                                height="14"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"><img
                                src="https://i.r.worldssl.net/img/full_star.png" width="14" height="14"> </div>
                    </div>
                </div>
            </div>
            <div style="width:320px;margin:7px auto">
                <ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-8433080377364721"
                    data-ad-slot="7817138096"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <div id="vtbl_actions">
            <div class="w_actions">
                <div id="rateYo" class="jq-ry-container" readonly="readonly" style="width: 95px;">
                    <div class="jq-ry-group-wrapper">
                        <div class="jq-ry-normal-group jq-ry-group">
                            <!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px"
                                fill="#c7c7c7">
                                <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                            </svg>
                            <!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px"
                                fill="#c7c7c7" style="margin-left: 0px;">
                                <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                            </svg>
                            <!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px"
                                fill="#c7c7c7" style="margin-left: 0px;">
                                <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                            </svg>
                            <!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px"
                                fill="#c7c7c7" style="margin-left: 0px;">
                                <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                            </svg>
                            <!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px"
                                fill="#c7c7c7" style="margin-left: 0px;">
                                <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                            </svg></div>
                        <div class="jq-ry-rated-group jq-ry-group" style="width: 94%;">
                            <!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px"
                                fill="#E74C3C">
                                <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                            </svg>
                            <!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px"
                                fill="#E74C3C" style="margin-left: 0px;">
                                <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                            </svg>
                            <!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px"
                                fill="#E74C3C" style="margin-left: 0px;">
                                <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                            </svg>
                            <!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px"
                                fill="#E74C3C" style="margin-left: 0px;">
                                <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                            </svg>
                            <!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="19px" height="19px"
                                fill="#E74C3C" style="margin-left: 0px;">
                                <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
                            </svg></div>
                    </div>
                </div>
                <div id="ratings">85 ratings</div>
                <div class="w_views"><strong>1,095</strong> views</div>
                <script>
                    $(function () {
                        $("#rateYo").rateYo({
                            ratedFill: "#E74C3C",
                            normalFill: "#c7c7c7",
                            fullStar: true,
                            starWidth: "19px",
                            rating: 4.6705882352941,
                            readOnly: true
                        });


                        $("#rateYo").click(function () {
                            alert("You must be logged in to rate videos!");
                        });
                    });
                </script>
                <div class="w_lnks">
                    <a href="javascript:void(0)" onmouseenter="wn('w_sh')" onmouseleave="wl('w_sh')" onclick="wc('w_sh')"><img
                            src="https://i.r.worldssl.net/img/shhd1.png" id="w_sh"><span style="top:2px">Share</span></a><a
                        href="javascript:void(0)" onmouseenter="wn('w_fv')" onmouseleave="wl('w_fv')" onclick="wc('w_fv')"><img
                            src="https://i.r.worldssl.net/img/hehd0.png" id="w_fv"><span>Favorite</span></a><a href="javascript:void(0)"
                        onmouseenter="wn('w_pl')" onmouseleave="wl('w_pl')" onclick="wc('w_pl')"><img src="https://i.r.worldssl.net/img/plhd0.png"
                            id="w_pl"><span>Playlists</span></a><a href="javascript:void(0)" onmouseenter="wn('w_fl')"
                        onmouseleave="wl('w_fl')" onclick="wc('w_fl')"><img src="https://i.r.worldssl.net/img/flhd0.png"
                            id="w_fl"><span>Flag</span></a>
                </div>
                <div id="w_l_cnts">
                    <img src="https://i.r.worldssl.net/img/wse.png" id="w_sel" style="left:84px">
                    <div id="w_sh_cnt">
                        <span><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.vidlii.com/watch?v=rndP2IIYkAa"
                                target="_blank" onclick="playerInstance.pause(true)">Facebook</a></span><span><a href="https://twitter.com/home?status=I%20just%20watched%20this%20awesome%20video%3A%20https%3A//www.vidlii.com/watch?v=rndP2IIYkAa"
                                target="_blank" onclick="playerInstance.pause(true)">Twitter</a></span><span><a href="https://www.reddit.com/submit?url=https://www.vidlii.com/watch?v=rndP2IIYkAa&amp;title=History+of+VidLii%27s+UI+in+3+Minutes+%28If+You+Knew+Nothing+About+It%29"
                                target="_blank" onclick="playerInstance.pause(true)">Reddit</a></span><span><a href="https://plus.google.com/share?url=https%3A//www.vidlii.com/watch?v=rndP2IIYkAa"
                                target="_blank" onclick="playerInstance.pause(true)">Google+</a></span>
                    </div>
                    <div id="w_fv_cnt" class="hddn">
                        <div class="you_wnt">
                            <div>
                                <strong>Want to add this video to your favorites?</strong><br>
                                <strong><a href="/login">Sign in to VidLii now!</a></strong>
                            </div>
                        </div>
                    </div>
                    <div id="w_pl_cnt" class="hddn">
                        <div class="you_wnt">
                            <div>
                                <strong>Want to add this video to your playlists?</strong><br>
                                <strong><a href="/login">Sign in to VidLii now!</a></strong>
                            </div>
                        </div>
                    </div>
                    <div id="w_fl_cnt" class="hddn">
                        <div class="you_wnt">
                            <div>
                                <strong>Want to add flag this video?</strong><br>
                                <strong><a href="/login">Sign in to VidLii now!</a></strong>
                            </div>
                        </div>
                        <script async="">
                            setTimeout(function () {
                                $.ajax({
                                    type: "POST",
                                    url: "/ajax/aw",
                                    data: {
                                        u: 'rndP2IIYkAa',
                                        a: 'https://www.vidlii.com/'
                                    }
                                })
                            }, 1750);
                        </script>
                    </div>
                </div>
            </div>
            <div style="width:468px;margin:8px auto">
                <ins class="adsbygoogle" style="display:inline-block;width:468px;height:60px" data-ad-client="ca-pub-8433080377364721"
                    data-ad-slot="9293871292"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="w_btm">
                <div style="display:table;width:100%">
                    <div class="w_big_btn big_sel" id="w_com">
                        <a href="javascript:void(0)">Commentary</a>
                    </div>
                    <div class="w_big_btn" id="w_stats">
                        <a href="javascript:void(0)">Statistics</a>
                    </div>
                </div>
                <div class="cl"></div>
                <div id="w_com_sct">
                    <div class="u_sct">
                        <img src="https://i.r.worldssl.net/img/clp00.png">
                        <span class="u_sct_hd">Video Responses <span>(<span>0</span>)</span></span>
                        <a href="/login" onclick="event.stopPropagation()">Sign in to make a video response</a> </div>
                    <div style="display:none;margin-bottom:20px">
                        <div style="text-align:center;margin-top:22px">This video doesn't have any video responses!</div>
                    </div>
                    <div class="u_sct">
                        <img src="https://i.r.worldssl.net/img/clp11.png">
                        <span class="u_sct_hd">Text Comments <span>(<span id="cmt_num">39</span>)</span></span>
                        <a href="/login" onclick="event.stopPropagation()">Sign in to post a comment</a> </div>
                    <div style="display:block; word-wrap: break-word">
                        <div id="top_comments">
                            <div class="wt_c_sct" id="wt_140752">
                                <div style="background:#cfffc4">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(1 month ago)</span>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span style="color:green">26</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        YES I GOT FEATURED! Also my mom said this video's gonna get me an F and my
                                        teacher said "your mom is right" </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_140794">
                                <div style="background:#cfffc4">
                                    <a href="/user/NermalCat79">NermalCat79</a> <span>(1 month ago)</span>
                                </div>
                                <div>
                                    <a href="/user/NermalCat79"><img src="https://i.r.worldssl.net/usfi/avt/PhkGqt3iFtb.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="NermalCat79"></a>
                                    <div>
                                        <span style="color:green">22</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        calm down eminem </div>
                                </div>
                            </div>
                        </div>
                        <div id="video_comments_section">
                            <div class="wt_c_sct" id="wt_147617">
                                <div>
                                    <a href="/user/STFOUCH0">STFOUCH0</a> <span>(8 hours ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/STFOUCH0"><img src="https://i.r.worldssl.net/usfi/avt/WgN3x51SXUg.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="STFOUCH0"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        vidii </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_147224">
                                <div>
                                    <a href="/user/zowaziluz">zowaziluz</a> <span>(1 day ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/zowaziluz"><img src="https://i.r.worldssl.net/usfi/avt/uDh4jECYoEi.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="zowaziluz"></a>
                                    <div>
                                        <span style="color:green">1</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        THANK you. Just decided to join because of "muh nostalgia" but it's good
                                        memories, and this vid has filled me in a lot. Thank you </div>
                                </div>
                            </div>

                            <div class="wt_c_sct wt_r_sct" id="wt_147276" op="147224" data-op-user="KnotSnappy">
                                <div style="background:#fffcc2">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(1 day ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/zowaziluz">@zowaziluz</a> thanks for watchin' it! :) </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_147014">
                                <div>
                                    <a href="/user/Martinboorman1963">Martinboorman1963</a> <span>(2 days ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/Martinboorman1963"><img src="https://i.r.worldssl.net/usfi/avt/M5y3ahC09OQ.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="Martinboorman1963"></a>
                                    <div>
                                        <span style="color:green">1</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        well done i never knew about this i joined a week ago </div>
                                </div>
                            </div>

                            <div class="wt_c_sct wt_r_sct" id="wt_147134" op="147014" data-op-user="KnotSnappy">
                                <div style="background:#fffcc2">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(2 days ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/Martinboorman1963">@Martinboorman1963</a> welcome to the site :D
                                    </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_145956">
                                <div>
                                    <a href="/user/Nikita">Nikita</a> <span>(6 days ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/Nikita"><img src="https://i.r.worldssl.net/usfi/avt/tqqpwvJQv5f.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="Nikita"></a>
                                    <div>
                                        <span style="color:green">2</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        A lot of new stuff I did not know about VidLii so far .. thanks for taking the
                                        time to put together this summary! Keep up the informative work :) </div>
                                </div>
                            </div>

                            <div class="wt_c_sct wt_r_sct" id="wt_147135" op="145956" data-op-user="KnotSnappy">
                                <div style="background:#fffcc2">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(2 days ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/Nikita">@Nikita</a> thanks! </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_145168">
                                <div>
                                    <a href="/user/BossTronPie">BossTronPie</a> <span>(1 week ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/BossTronPie"><img src="https://i.r.worldssl.net/usfi/avt/croFgDgK21E.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="BossTronPie"></a>
                                    <div>
                                        <span style="color:green">1</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        How tf can I test the modern design? </div>
                                </div>
                            </div>

                            <div class="wt_c_sct wt_r_sct" id="wt_145547" op="145168" data-op-user="KnotSnappy">
                                <div style="background:#fffcc2">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(1 week ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/BossTronPie">@BossTronPie</a> don't think it's public yet </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_144631">
                                <div>
                                    <a href="/user/IHateLiberalsAndLGBT">IHateLiberalsAndLGBT</a> <span>(1 week ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/IHateLiberalsAndLGBT"><img src="https://i.r.worldssl.net/usfi/avt/g2ALKvA3Fu2.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="IHateLiberalsAndLGBT"></a>
                                    <div>
                                        <span style="color:green">4</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        Modern Layouts suck, they're just buggy, ugly, and slow like YouTube's. </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="show_more" onclick="show_all_replies(144631)" id="sa_144631">Show
                                all 5 replies</a>

                            <div class="wt_c_sct wt_r_sct" id="wt_144814" op="144631" data-op-user="KnotSnappy">
                                <div style="background:#fffcc2">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(1 week ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span style="color:green">1</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/Patchouli">@Patchouli</a> it's just an <i>option</i> for those
                                        that don't like the current one :P </div>
                                </div>
                            </div>
                            <div class="wt_c_sct wt_r_sct" id="wt_144816" op="144631" data-op-user="Patchouli">
                                <div>
                                    <a href="/user/Patchouli">Patchouli</a> <span>(1 week ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/Patchouli"><img src="https://i.r.worldssl.net/usfi/avt/7nlj7iT1tpg.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="Patchouli"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/KnotSnappy">@KnotSnappy</a> ah ok. good to know ^_^ </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_144511">
                                <div>
                                    <a href="/user/WeirdBeardDude">WeirdBeardDude</a> <span>(1 week ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/WeirdBeardDude"><img src="https://i.r.worldssl.net/usfi/avt/1mALc0RgYbZ.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="WeirdBeardDude"></a>
                                    <div>
                                        <span style="color:green">1</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        I'm not going to lie, I appreciate the information.<br>
                                        <br>
                                        However, I would enjoy you to slow down just a tad.<br>
                                        <br>
                                        That's all.<br>
                                        Not A+ but how about an A? </div>
                                </div>
                            </div>

                            <div class="wt_c_sct wt_r_sct" id="wt_144609" op="144511" data-op-user="KnotSnappy">
                                <div style="background:#fffcc2">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(1 week ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span style="color:green">2</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/WeirdBeardDude">@WeirdBeardDude</a> Thanks! lol I'll take an A
                                    </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_144394">
                                <div>
                                    <a href="/user/lemon">lemon</a> <span>(1 week ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/lemon"><img src="https://i.r.worldssl.net/usfi/avt/hMYvhlmsUYy.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="lemon"></a>
                                    <div>
                                        <span style="color:green">2</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        what the heck is vidlii </div>
                                </div>
                            </div>

                            <div class="wt_c_sct wt_r_sct" id="wt_147054" op="144394" data-op-user="Abridgelion">
                                <div>
                                    <a href="/user/Abridgelion">Abridgelion</a> <span>(2 days ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/Abridgelion"><img src="https://i.r.worldssl.net/usfi/avt/qVZa0tQPF6y.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="Abridgelion"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/lemon">@lemon</a> <a href="/user/lemon">@lemon</a>: Vid.Me's
                                        broke twin cousin. </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_144040">
                                <div>
                                    <a href="/user/FusRoDa49">FusRoDa49</a> <span>(2 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/FusRoDa49"><img src="https://i.r.worldssl.net/usfi/avt/zL5y5SoFKvO.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="FusRoDa49"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        <a href="/user/KnotSnappy">@KnotSnappy</a> still up after 2 weeks. also i did
                                        not know vidlii took after yt's 2005 layout before the one were using now.
                                        great vid! </div>
                                </div>
                            </div>

                            <div class="wt_c_sct wt_r_sct" id="wt_144062" op="144040" data-op-user="KnotSnappy">
                                <div style="background:#fffcc2">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(2 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/FusRoDa49">@FusRoDa49</a> thanks! </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_143393">
                                <div>
                                    <a href="/user/Dillymackey">Dillymackey</a> <span>(2 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/Dillymackey"><img src="https://i.r.worldssl.net/usfi/avt/0R8y0shFCbW.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="Dillymackey"></a>
                                    <div>
                                        <span style="color:green">4</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        A+ </div>
                                </div>
                            </div>

                            <div class="wt_c_sct wt_r_sct" id="wt_143456" op="143393" data-op-user="KnotSnappy">
                                <div style="background:#fffcc2">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(2 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/Dillymackey">@Dillymackey</a> thank </div>
                                </div>
                            </div>
                            <div class="wt_c_sct wt_r_sct" id="wt_146693" op="143393" data-op-user="JacksepticNose">
                                <div>
                                    <a href="/user/JacksepticNose">JacksepticNose</a> <span>(3 days ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/JacksepticNose"><img src="https://i.r.worldssl.net/usfi/avt/JydYvF2YkRQ.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="JacksepticNose"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/KnotSnappy">@KnotSnappy</a> B&lt; </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_143066">
                                <div>
                                    <a href="/user/MrArcadeRetroGamer64">MrArcadeRetroGamer64</a> <span>(3 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/MrArcadeRetroGamer64"><img src="https://i.r.worldssl.net/usfi/avt/BmTZDFCP1Df.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="MrArcadeRetroGamer64"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        Great video. </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_142848">
                                <div>
                                    <a href="/user/TrainwreckPro">TrainwreckPro</a> <span>(3 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/TrainwreckPro"><img src="https://i.r.worldssl.net/usfi/avt/2prJihDP05V.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="TrainwreckPro"></a>
                                    <div>
                                        <span style="color:green">1</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        I'm a fan! amazing work my friend,! </div>
                                </div>
                            </div>

                            <div class="wt_c_sct wt_r_sct" id="wt_142902" op="142848" data-op-user="KnotSnappy">
                                <div style="background:#fffcc2">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(3 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/TrainwreckPro">@TrainwreckPro</a> thx! </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_142825">
                                <div>
                                    <a href="/user/Nihatemoon">Nihatemoon</a> <span>(3 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/Nihatemoon"><img src="https://i.r.worldssl.net/usfi/avt/fDCe7eX7n7f.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="Nihatemoon"></a>
                                    <div>
                                        <span style="color:green">2</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        what more is gonna take for vidlii to gain more popularity </div>
                                </div>
                            </div>

                            <div class="wt_c_sct wt_r_sct" id="wt_142903" op="142825" data-op-user="KnotSnappy">
                                <div style="background:#fffcc2">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(3 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span style="color:green">1</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/Nihatemoon">@Nihatemoon</a> a lot </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_142778">
                                <div>
                                    <a href="/user/Koltin">Koltin</a> <span>(3 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/Koltin"><img src="https://i.r.worldssl.net/usfi/avt/xJIlWfgyo6j.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="Koltin"></a>
                                    <div>
                                        <span style="color:green">1</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        "more modern layout" fuck that, I'll delete my vidlii account </div>
                                </div>
                            </div>

                            <div class="wt_c_sct wt_r_sct" id="wt_142808" op="142778" data-op-user="KnotSnappy">
                                <div style="background:#fffcc2">
                                    <a href="/user/KnotSnappy">KnotSnappy</a> <span>(3 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/KnotSnappy"><img src="/usfi/thmp/qFmzacNOKp7.jpg" width="41" height="41"
                                            class="avt2 wp_avt" alt="KnotSnappy"></a>
                                    <div>
                                        <span style="color:green">2</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div style="width:442px">
                                        <a href="/user/Koltin">@Koltin</a> it's gonna be an option not forced </div>
                                </div>
                            </div>
                            <div class="wt_c_sct" id="wt_142072">
                                <div>
                                    <a href="/user/200709">200709</a> <span>(3 weeks ago)</span>
                                    <div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/user/200709"><img src="https://i.r.worldssl.net/usfi/avt/LNhELs9xjB4.jpg"
                                            width="41" height="41" class="avt2 wp_avt" alt="200709"></a>
                                    <div>
                                        <span>0</span>
                                        <img src="https://i.r.worldssl.net/img/td0.png" onclick="alert('Please sign in to rate this comment')"><img
                                            src="https://i.r.worldssl.net/img/tu0.png" onclick="alert('Please sign in to rate this comment')">
                                    </div>
                                    <div>
                                        speak slowar!!!!! </div>
                                </div>
                            </div>
                        </div>
                        <div class="w_pag">
                            <span class="p_yes">1</span> <a href="?v=rndP2IIYkAa&amp;p=2">2</a> <a href="?v=rndP2IIYkAa&amp;p=3">3</a>
                            <a href="?v=rndP2IIYkAa&amp;p=2">Next</a> </div>
                        <div style="text-align:center;margin: 13px 0 5px">
                            <a href="/register">Sign up</a> for a free account, or <a href="/login">sign in</a> to post
                            a comment.
                        </div>
                    </div>
                </div>
                <div id="w_stats_sct" class="hddn">
                    <table style="width:88%;margin:0 0 0 61px" cellpadding="5">
                        <tbody>
                            <tr>
                                <td>Date: <strong>
                                        <date>Sep 24, 2018</date>
                                    </strong></td>
                                <td>Views: <strong>1,095</strong></td>
                                <td>Ratings: <strong>85</strong></td>
                            </tr>
                            <tr>
                                <td>Time: <strong><time>01:29 AM</time></strong></td>
                                <td>Comments: <strong>39</strong></td>
                                <td>Favorites: <strong>19</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="width:468px;margin:8px auto">
                <ins class="adsbygoogle" style="display:inline-block;width:468px;height:60px" data-ad-client="ca-pub-8433080377364721"
                    data-ad-slot="9293871292"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</main>
<% include partials/footer %>