<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= config.metadata.title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%= config.metadata.description %>">
    <meta name="keywords" content="<%= config.metadata.keywords %>">
    <meta property="og:site_name" content="<%= config.metadata.title %>">
    <meta property="og:url" content="<%= config.metadata.url %>">
    <link rel="shortcut icon" href="https://i.r.worldssl.net/img/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="https://i.r.worldssl.net/img/vl_app.png">
    <meta name="msapplication-tap-highlight" content="no">
    <link type="text/css" rel="stylesheet" href="/css/jquery.rateyo.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/m.css"/>
    <link type="text/css" rel="stylesheet" href="/css/noty.css"/>
</head>
<body>
    <% include navbar %>
    <main class="bottom_wrapper">